.swiper {
  width: 90%;
  margin-top: 100px;
}
.swiper-wrapper {
  height: fit-content;
}

.swiper-slide {
  height: calc(100vh - 50vh);
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #333;
  opacity: 0.6;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  color: #fff !important;
  border: 2px solid #ccc;
  top: 85%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}

.swiper-pagination-bullet {
  background-color: #047857;
}
