@font-face {
  font-family: "Pretendard";
  src: url("./src/assets/fonts/Pretendard-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard-Light";
  src: url("./src/assets/fonts/Pretendard-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("./src/assets/fonts/Pretendard-Bold.woff2") format("woff2");
  font-display: swap;
}

html,
body {
  /* height: 100%; */
  box-sizing: border-box;
}

body {
  background-color: #2c2c2c;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

.hover {
  transition: color 0.2s ease-in-out;
  color: #047857;
}
